@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-class {
	@apply hover:opacity-20;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@layer base {
	html {
		scroll-behavior: smooth;
	}
	* {
		scroll-padding-top: 7rem;
	}
	*,
	*::before,
	*::after {
		font-family: 'Roboto', sans-serif;
	}
}

@layer components {
	.nav-option:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: '';
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
		@apply bg-turq-400;
	}

	.nav-option:hover:after {
		width: 70%;
		left: 15%;
	}

	.bits {
		position: relative;
	}

	.bits:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		position: absolute;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
		@apply bg-seashell;
	}

	.bits:hover:after {
		width: 100%;
		left: 0%;
	}

	.typing {
		position: relative;
		display: inline;
	}

	.typing::after {
		display: inline;
		content: '|';
		position: relative;
		animation: blink 1s ease infinite;
		font-size: 1.25em;
	}

	@keyframes blink {
		40% {
			opacity: 0;
		}
	}

	.progress {
		width: 100%;
		animation: load 0.5s ease 1;
	}

	@keyframes load {
		from {
			width: 0%;
		}

		to {
			width: 100%;
		}
	}

	.formfield {
		@apply outline-none inline-block px-2 py-2 focus:rounded-md bg-gray-200 placeholder-richblue-200 my-2 sm:my-5 w-full border-gray-400 border-b focus:border-richblue-600 hover:rounded-md hover:shadow-md focus:shadow-md transition-all duration-200 placeholder-opacity-0 bg-opacity-0;
	}

	.formlabel {
		@apply absolute cursor-text left-1 top-0 sm:top-2 text-xs font-light text-gray-600 peer-placeholder-shown:top-6  sm:peer-placeholder-shown:top-8 peer-placeholder-shown:left-2.5 peer-focus-within:top-0 sm:peer-focus-within:top-2 peer-focus-within:left-1 peer-focus-within:text-xs peer-placeholder-shown:text-sm transition-all;
	}

	.messagelabel {
		@apply absolute cursor-text left-1.5 -top-1.5 text-xs font-light text-gray-600 peer-placeholder-shown:top-4 peer-placeholder-shown:left-1.5 peer-focus-within:left-1.5 peer-focus-within:-top-1.5 peer-placeholder-shown:text-sm peer-focus-within:text-xs transition-all;
	}

	.primary-btn {
		@apply transition-all duration-200 border-2 border-turq-600 bg-turq-600 px-3 py-2 mx-2 text-richblue-800 hover:bg-opacity-10 hover:border-seashell hover:border-opacity-20 hover:text-seashell rounded-md font-light hover:font-medium hover:text-lg;
	}

	.secondary-btn {
		@apply transition-all duration-200 border-2 border-seashell px-3 py-2 mx-2 my-10 hover:border-opacity-10 rounded-md font-light hover:font-medium hover:text-lg;
	}

	.phone-project-img-container {
		@apply relative my-8 w-full container;
		transform-style: preserve-3d;
		transform: rotateY(-30deg) rotateX(20deg);
	}

	.phone-project-img-1 {
		@apply blur-none mt-5 w-auto object-cover rounded-md absolute opacity-100 -left-5 -top-8;
		transform: translateZ(5px);
		transition: all 0.5s;
	}

	.phone-project-img-container:hover .phone-project-img-1 {
		@apply opacity-80 left-5 top-0;
		transform: translateZ(-5px);
	}

	.phone-project-img-2 {
		@apply mt-5 object-cover w-auto rounded-md opacity-80 top-0;
		transition: all 0.5s;
	}

	.phone-project-img-container:hover .phone-project-img-2 {
		@apply blur-none opacity-100 left-5 -top-8;
	}
	.pc-project-img-container {
		@apply relative my-8 mx-auto;
		/* position: fixed; */
		transform-style: preserve-3d;
		transform: rotateY(-30deg) rotateX(20deg);
	}

	.pc-project-img-1 {
		@apply blur-none mt-5 object-cover rounded-md lg:rounded-xl absolute opacity-100 -left-5 -top-8;
		transform: translateZ(5px);
		transition: all 0.5s;
	}

	.pc-project-img-container:hover .pc-project-img-1 {
		@apply opacity-80 left-5 top-0;
		transform: translateZ(-5px);
	}

	.pc-project-img-2 {
		@apply mt-5 object-cover rounded-md lg:rounded-xl opacity-80 top-0;
		transition: all 0.5s;
	}

	.pc-project-img-container:hover .pc-project-img-2 {
		@apply blur-none opacity-100 left-5 -top-8;
	}
}

@layer utilities {
	.w-1\/7 {
		width: 14.5%;
	}

	.font-Montserrat {
		font-family: 'Montserrat', sans-serif;
	}

	.font-Roboto {
		font-family: 'Roboto', sans-serif;
	}
}
